@import "../../../node_modules/bootstrap/scss/bootstrap";

$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../node_modules/@fortawesome/fontawesome-svg-core/styles.css";

.full-height {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100dvh;
  flex: 1;
  background-color: rgb(234, 234, 234);
  overflow-y: hidden;
}

.border-cell {
  max-width: 10px;
  max-height: 10px;
}

.stage {
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-shadow {
  box-shadow: 2px 2px 3px 1px #cfcfcf;
}

.play-button {
  min-width: 50px;
  min-height: 50px;

  max-width: 50px;
  max-height: 50px;
}

.reset-tempo-button {
  min-width: 150px;

  max-width: 150px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 4s linear infinite;
}