@import "../../../node_modules/bootstrap/scss/bootstrap";

.full-height {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex: 1;
  background-color: rgb(234, 234, 234);
}

.stage {
  background-color: rgb(244, 244, 244);
}

.drop-shadow {
  box-shadow: 2px 2px 3px 1px #cfcfcf;
}

.play-button {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  padding: 0.2rem;
}

.reset-tempo-button {
  min-width: 150px;
  max-width: 150px;
  padding: 0.2rem;
  font-size: 100%;
}

.reset-button {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.ar-1-1 {
  aspect-ratio: 1 / 1;
  background: white;
  width: 85vh;
  height: 85vw;
  max-width: 85vw;
  max-height: 85vh;
  margin: 0 auto;
  align-self: center
}

.header {
  min-height: 8vh;
  max-height: 8vh;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.center {
  display: flex;
  min-height: 85vh;
  max-height: 85vh;
}

.divider {
  min-height: 1vh;
  max-height: 1vh;
}

.footer-elements {
  min-height: 4vh;
  max-height: 4vh;
}

.footer {
  min-width: 98vw;
  max-width: 98vw;
}